.b1__text-two:not(:last-of-type) {
  margin-bottom: 10px;
}

.b1__block-three {
  width: 200px;
  height: 200px;
  background-color: crimson;
}

.b1__translate-three {
  transform: translateX(100px);
}