.b10__form {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.b10__form-input {
  margin-bottom: 20px;
}

.b10__form-button {
  width: fit-content;
  display: inline-flex;
  justify-content: flex-start;
  padding: 10px;
  background-color: var(--gray);
  border-radius: 10px;
}