.b1__text-second-example:not(:last-of-type) {
  margin-bottom: 10px;
}

.b1__block-third-example {
  width: 200px;
  height: 200px;
  background-color: crimson;
}

.b1__translate-third-example {
  transform: translateX(100px);
}